.frc-captcha * { /* Mostly a CSS reset so existing website styles don't clash */
	margin: 0;
	padding: 0;
	border: 0;
    text-align: initial;
    border-radius: 4px;
    filter: none !important;
    transition: none !important;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.35;
    text-decoration: none;
    background-color: initial;
    color: #222;
}

.frc-captcha {
    position: relative;
    width: 280px;
    border: 1px solid #ddd;
    padding-bottom: 12px;
    background-color: #fff;
}

.frc-container {
    display: flex;
    align-items: center;
    min-height: 52px;
}

.frc-icon {
    fill: #222;
    stroke: #222;
    flex-shrink: 0;
    margin: 8px 8px 0 8px;
}

.frc-icon.frc-warning {
    fill: #C00;
}

.frc-content {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    margin: 4px 6px 0 0;
    overflow-x: auto;
    flex-grow: 1;
}

.frc-banner {
    position: absolute;
    bottom: 0px;
    right: 6px;
    line-height: 1;
}

.frc-banner * {
    font-size: 10px;
    opacity: 0.8;
}

.frc-banner b {
    font-weight: bold;
}

.frc-progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 3px 0;
    height: 4px;
    border: none;
    background-color: #eee;
    color: #222;
    width: 100%;
    transition: all 0.5s linear;
}

.frc-progress::-webkit-progress-bar {
    background: #eee;
}

.frc-progress::-webkit-progress-value {
    background: #222;
}

.frc-progress::-moz-progress-bar {
    background: #222;
}

.frc-button {
    cursor: pointer;
    padding: 2px 6px;
    background-color: #f1f1f1;
    border: 1px solid transparent;
    text-align: center;
    font-weight: 600;
    text-transform: none;
}
.frc-button:focus{
    border: 1px solid #333;
}
.frc-button:hover{
    background-color: #ddd;
}

/* Dark theme */
.dark.frc-captcha{
    color: #fff;
    background-color: #222;
}

.dark.frc-captcha * {
    color: #fff;
}

.dark.frc-captcha button {
    background-color: #444;
}

.dark .frc-icon {
    fill: #fff;
    stroke: #fff;
}

.dark .frc-progress {
    background-color: #444;
}

.dark .frc-progress::-webkit-progress-bar {
    background: #444;
}

.dark .frc-progress::-webkit-progress-value {
    background: #ddd;
}

.dark .frc-progress::-moz-progress-bar {
    background: #ddd;
}